---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import BaseHead from "../../components/BaseHead.astro";
import Footer from "../../components/Footer.astro";
import FormattedDate from "../../components/FormattedDate.astro";
import Header from "../../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";

const posts = (await getCollection("writing")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />

  </head>

  <body>
    <Header />
    <main>
		<h1>Writing</h1>
      <section>
        {
          posts.map((post) => (
            <article class="card">
              <a href={`/writing/${post.id}/`}>
                {post.data.heroImage && (
					<h4 class="title">{post.data.title}</h4>
					<p class="date">
                  		<FormattedDate date={post.data.pubDate} />
                	</p>
                  <Image
                    width={720}
                    height={360}
                    src={post.data.heroImage}
                    alt=""
                  />
                )}
            

              </a>
            </article>
          ))
        }
      </section>
    </main>
    <Footer />
  </body>
</html>
